USE [master]
GO
/****** Object:  Database [PaymentDB]    Script Date: 23 Feb 2020 19:23:58 ******/
CREATE DATABASE [PaymentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaymentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PaymentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaymentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PaymentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymentDB]
GO
/****** Object:  Table [dbo].[Merchant]    Script Date: 23 Feb 2020 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchant](
	[merchantid] [int] NOT NULL,
	[apikey] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[merchantid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 23 Feb 2020 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentid] [varchar](255) NOT NULL,
	[merchantid] [int] NULL,
	[cardnumber] [varchar](255) NULL,
	[cardholdername] [varchar](max) NULL,
	[cardtype] [varchar](max) NULL,
	[expirydate] [varchar](max) NULL,
	[status] [int] NULL,
	[amount] [float] NULL,
	[paymentdate] [datetime] NOT NULL,
	[currency] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Merchant] ([merchantid], [apikey]) VALUES (1000, N'15f5d102-88c6-4b7a-a094-dc5a6cc270f4')
INSERT [dbo].[Merchant] ([merchantid], [apikey]) VALUES (1001, N'b4341c84-0e37-4496-9d7a-ab58a325051e')
INSERT [dbo].[Merchant] ([merchantid], [apikey]) VALUES (1002, N'11d22b6a-b777-433f-b1cd-9d1a1ee7177a')
INSERT [dbo].[Payment] ([paymentid], [merchantid], [cardnumber], [cardholdername], [cardtype], [expirydate], [status], [amount], [paymentdate], [currency]) VALUES (N'01137d08-d506-4c33-b9d8-d5247920ea6e', 1000, N'4547739567657049', N'Homer Simpsons', N'VISA', N'04/22', 2002, 5000, CAST(N'2020-02-23T11:28:54.320' AS DateTime), N'MUR')
INSERT [dbo].[Payment] ([paymentid], [merchantid], [cardnumber], [cardholdername], [cardtype], [expirydate], [status], [amount], [paymentdate], [currency]) VALUES (N'17acfc4c-b352-4deb-b3f7-2306a2f3137c', 1000, N'6759291632878588', N'Tom Hardy', N'MASTERCARD', N'12/22', 2001, 500, CAST(N'2020-02-23T19:05:14.120' AS DateTime), N'USD')
INSERT [dbo].[Payment] ([paymentid], [merchantid], [cardnumber], [cardholdername], [cardtype], [expirydate], [status], [amount], [paymentdate], [currency]) VALUES (N'27bdf0d9-9451-43d3-8b6b-85244fa3cb9b', 1000, N'6759291632878588', N'Tom Hardy', N'MASTERCARD', N'12/22', 2002, 15000, CAST(N'2020-02-23T19:06:08.237' AS DateTime), N'USD')
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [paymentdate]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([merchantid])
REFERENCES [dbo].[Merchant] ([merchantid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
